{% extends 'admin/base.html.twig' %}

{% block body %}
    {% if app.user %}
        {% include('admin/components/_header.html.twig') %}

        {% for label, messages in app.flashes %}
            {% if messages is not empty %}
                <div class="container mt-3">
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                            <span>{{ message }}</span>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <main class="container my-5">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include('admin/components/_footer.html.twig') %}
{% endblock %}