{% block footer %}
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container text-center">
            <span class="text-light">
                &copy; {{ "now"|date("Y") }} - LittleDot Website v0.2.3
            </span>
        </div>
    </footer>
{% endblock %}